# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\hosam\Dropbox\My PC (Hosam-DXB)\Downloads\Git Course\TARS Masters\ComplexPropertyLoader\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
